#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
cython
scipy
matplotlib
numpy
torch
metapredict
PredictDSSP
protfasta
urllib3
tqdm
alphapredict
getsequence
# hoping this works....
sparrow @ git+https://git@github.com/idptools/sparrow.git
finches @ git+https://git@github.com/idptools/finches.git
argparse
versioningit
sphinx-rtd-theme

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# ex. 
# my_package == 1.0

   