#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
argparse


#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# ex. 
# my_package == 1.0

   